$link-hover: #b9b9b9;
$copy-color: #555252;
$table-item: #d8d8d8;
$footer-color: #000;
$bar-track-color: #000;
$bar-thumb-color: #fff;
$text-color: #ff0043;

$width-carousel: 20px;
$height-carousel: 20px;

$padding-fix: 20px 0px;
$padding-button: 15px 35px;

$title-font: 'Oswald', Arial;
$sub-title-font: 'Oswald', Arial;


* {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: $title-font;
}
